.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    position: relative;
    /* выше установили ограничения для секции */
}

.logo__place_header {
    background-image: url("../images/logo.svg");
    width: 183px;
    height: 32px;
    top: 30px;
    left: 64px;
    position: absolute;
    z-index: 2;
}

.header__title {
    margin: 0;
    margin-left: 64px;
    width: 730px;
    line-height: 96px;
    font-size: 102px; 
    font-weight: bolder;
    z-index: 2;
}

.header__link {
    color: #2f80ed; 
}

.header__subtitle {
    width: 388px;
    left: 64px;
    bottom: 30px;
    position: absolute;
    z-index: 2;
    line-height: 25px;
    font-size: 18px; 
    font-weight: normal;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    width: 568px;
    height: 568px;
    position: absolute;
    right: 0;
    top: 64px;
    background-color: #2f80ed;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.description {
    background-color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.two-columns {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.two-columns__brief {
    width: 175px;
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px; 
    font-weight: normal;
    margin: 0;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    margin: 0;
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px; 
    font-weight: normal;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px; 
    font-weight: bolder;
}

.digits {
   background-color: #FFFFFF;
}

.section-title {
    width: 60%;
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 69px;
    font-size: 60px; 
    font-weight: bolder;
}

.section-subtitle {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    line-height: 34px;
    font-size: 24px; 
    font-weight: normal;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*как выровнять все элементы таблицы*/
    align-items: baseline;
    width: 1100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.table__cell {
    /*как сделать одинаковое расстояние между ячейками*/
    width: 250px;
}

.table__heading {
    display: flex;
    flex-direction: row;
    justify-content: first-start;
    padding-bottom: 20px;
    line-height: 1.15;
    font-size: 24px; 
    font-weight: bolder;
}

.table__text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*как сделать расстояние между текстовыми блоками*/
    line-height: 1.2;
    font-size: 18px; 
    font-weight: normal;
}

.feinman {
    height: 790px;
    background-color: #F2F2F2
    scroll-padding-top: 100px;
}

.feinman__title {
    width: 648px;
    line-height: 1.15;
    font-size: 120px; 
    font-weight: bolder;
}

.feinman__subtitle {
    scroll-padding-top: 70px;
    line-height: 51px;
    font-size: 36px; 
    font-weight: normal;
}

.feinman__link {
    position: absolute;
    height: 395px;
    margin-right: 48px;
    line-height: 51px;
    font-size: 36px; 
    font-weight: normal;
}

.kaufman { 
    background-color: #000000;
}

.footer {
    background-color: #000000; 
}

.logo__place_footer {
    height: 35px;
    width: 183px;
}

/*.div {
    border: 1px solid red;
}*/

/*:after {
    content: attr(class);
    display: block;
} */