@keyframes header__square-pic  {
    from {
        transform: rotate(-15deg);
    }
    to {
        transform: rotate(360deg);
}
}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    position: relative;
    /* выше установили ограничения для секции */
}

.logo_place_header {
    background-image: url("../images/logo.svg");
    width: 183px;
    height: 32px;
    top: 30px;
    left: 64px;
    position: absolute;
    z-index: 2;
}

.header__title {
    margin: 0;
    margin-left: 64px;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bolder;
    z-index: 2;
}

.header__link {
     color: #2f80ed;
     text-decoration: none;
 }

.header__link:hover {
    opacity: 0.5;
    transition: 0.7s ease-in;
}

.header__subtitle {
    margin: 0;
    width: 388px;
    left: 64px;
    bottom: 30px;
    position: absolute;
    z-index: 2;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    width: 568px;
    height: 568px;
    position: absolute;
    right: 0;
    top: 64px;
    background-color: #2f80ed;
    animation: header__square-pic 20s infinite;
    overflow: auto;
}

.description {
    background-color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.two-columns {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.two-columns__brief {
    margin: 0;
    width: 175px;
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    margin: 0;
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bolder;
}

.cards {
    width: 80%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.cards__item {
    margin-right: 100px;
    margin-bottom: 60px;
}
.cards__img {
    width: 160px;
    height: 160px;
    padding: 60px 40px 43px;
    border-radius: 200px;
}

.cards__title {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}

.cards__description {
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.digits {
    background-color: #FFFFFF;
}

.section-title {
    margin: 0;
    width: 60%;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 69px;
    font-size: 60px;
    font-weight: bolder;
}

.section-title_theme_dark {
    margin-top: 90px;
    color: white;
}

.section-subtitle {
    margin: 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    line-height: 34px;
    font-size: 24px;
    text-align: center;
}

.section-subtitle_theme_dark {
    margin-top: 20px;
    color: white;
}

.table {
    width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table_theme_dark {
    margin-top: 80px;
    margin-bottom: 90px;
    z-index: 2;
    color: white;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__cell_theme_dark {
    width: 200px;
    margin-top: 80px;
}

.table__heading {
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bolder;
}

.table__text {
    margin: 0;
    line-height: 1.2;
    font-size: 18px;
    margin-bottom: 20px;
}

.feinman {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 790px;
}

.feinman__illustration {
    width: 867px;
    height: 637px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.feinman__title {
    margin: 0;
    margin-top: 100px;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bolder;
    text-align: center;
    z-index: 2;
}

.feinman__subtitle {
    margin: 0;
    margin-top: 70px;
    line-height: 51px;
    font-size: 36px;
    z-index: 2;
}

.feinman__link {
    position: absolute;
    height: 395px;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    text-decoration: none;
    color: black;
}

.feinman__link:hover {
    opacity: 0.3;
    transition: 0.7s ease-in;
}

.kaufman {
    background-color: #1F1F1F;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.kaufman__triangle {
    right: -210px;
    width: 877px;
    height: 877px;
    position: absolute;
    z-index: 1;
}

.footer {
    background-color: #1F1F1F;
    color: white;
    min-height: 350px;
    display: flex;
    flex-direction: column;
}

.footer__columns {
    width: 90%;
    padding-top: 60px;
    padding-bottom: 40px;
    margin: auto;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.footer__column_content_copyright {
    position: relative;
    flex-basis: 711px;
}

.logo_place_footer {
    background: url("../images/logo_white.svg");
    color: white;
    width: 183px;
    height: 35px;
}

.footer__author {
    margin: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer__column-heading {
    margin: 0;
    padding-bottom: 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bolder;
}

.footer__column-links {
    padding: 0;
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 16px;
    text-decoration: none;
    list-style-type: none;
}

.footer__info {
    text-decoration: none;
    color: white;
}

.footer__info:hover {
    opacity: 0.3;
    transition: 0.7s ease-in;
}

.footer__social-icon {
    text-decoration: none;
    color: white;
}

.footer__social-icon:hover {
    opacity: 0.3;
    transition: 0.7s ease-in;
}

.footer__social-icon::before {
    width: 16px;
    height: 16px;
    margin-right: 0.5em;
}

.footer__social-icon_facebook::before {
    content: url("../images/facebook_white.svg");
}

.footer__social-icon_vk::before {
    content: url("../images/vk_white.svg");
}

.footer__social-icon_instagram::before {
    content: url("../images/instagram_white.svg");
}
